<button type="button" onclick="history.back()" class="btn btn-light">
  <i class="bi-arrow-left"></i>
  Kembali
</button>

<h3 class="my-3"><%= pageTitle %></h3>

<div class="table-responsive mt-3">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">ID User</th>
        <td><%= historiuser.idgameuser %></td>
      </tr>
      <tr>
        <th scope="row">Nama Permainan</th>
        <td><%= historiuser.nameOfGame %></td>
      </tr>
      <tr>
        <th scope="row">Level</th>
        <td><%= historiuser.level %></td>
      </tr>
      <tr>
        <th scope="row">Tanggal Bermain</th>
        <td><%= historiuser.joinDate %></td>
      </tr>
    </tbody>
  </table>
</div>
