<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
    />
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
    />
  </symbol>
  <symbol
    id="exclamation-triangle-fill"
    fill="currentColor"
    viewBox="0 0 16 16"
  >
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
    />
  </symbol>
</svg>
<% if (alertSuccess.length > 0) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <svg
    class="bi flex-shrink-0 me-2"
    width="24"
    height="24"
    role="img"
    aria-label="Success:"
  >
    <use xlink:href="#check-circle-fill" />
  </svg>
  <%= alertSuccess %>

  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>

<div class="d-flex justify-content-between align-items-center">
  <h3 class="m-0"><%= pageTitle %></h3>
  <a class="btn btn-primary" href="/histories/create" role="button">
    <i class="bi-plus-lg"></i> Buat Baru
  </a>
</div>

<div class="table-responsive mt-3">
  <table class="table table-bordered table-hover">
    <thead>
      <tr style="text-align: center">
        <th scope="col">No</th>
        <th scope="col">Nama User</th>
        <th scope="col">ID User</th>
        <th scope="col">Nama Permainan</th>
        <th scope="col">Level</th>
        <th scope="col">Tanggal Bermain</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% historiusers.forEach((data, index)=> { %>
      <tr style="text-align: center;">
        <th scope="row"><%= index + 1 %></th>
        <td class="w-10"><%= data.gameuser.name %></td>
        <td><%= data.gameuser.id %></td>
        <td><%= data.nameOfGame %></td>
        <td><%= data.level %></td>
        <td class="w-25"><%= data.joinDate %></td>
        <td>
          <div class="d-flex justify-content-evenly">
            <a
              class="btn btn-success btn-sm"
              href="/histories/<%= data.id %>"
              role="button"
            >
              <i class="bi-eye-fill"></i> Lihat Detail
            </a>

            <a
              class="btn btn-primary btn-sm"
              href="/histories/<%= data.id %>/edit"
              role="button"
            >
              <i class="bi-pencil-fill"></i> Edit
            </a>
            <form
              method="post"
              action="/histories/<%= data.id %>?_method=DELETE"
            >
              <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('apakah anda yakin hapus data ?');">
                <i class="bi-trash-fill"></i> Hapus
              </button>
            </form>
 
            </div>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
